body {
    background-color: rgba(46, 23, 179, 0.945);
}
nav {
    background-color: rgb(23, 139, 168);
}
form#menu div {
    padding: 15px;
  }
#content{
    border-style: dashed;
}
.jumbotron {
    height: 600px;
    width: 100;
    background: url(../images/game-of-thrones.jpeg);
    background-size: cover;
}

h1 {
    color: rgb(47, 255, 82);
    text-align: right;
    
    
}
p {
    text-align: center;
    color: rgb(47, 255, 82);
}
h1 {
    font-weight: bold;
    padding-left: 250px
}

.game {
    color: rgb(47, 255, 82);
    background-color: rgb(23, 139, 168);
}

